- name: update rc files on all servers
  hosts: all
  tasks:
    - name: update .inputrc file from github (raw)
      get_url:
        url: https://raw.githubusercontent.com/ogjex/server-rc/refs/heads/main/.inputrc
        dest: ~/
        mode: '0644'
    - name: update .bash_profile file from github (raw)
      get_url:
        url: https://raw.githubusercontent.com/ogjex/server-rc/refs/heads/main/.bash_profile
        dest: ~/
        mode: '0644'
    - name: update .bashrc file from github (raw)
      get_url:
        url: https://raw.githubusercontent.com/ogjex/server-rc/refs/heads/main/.bashrc
        dest: ~/
        mode: '0644'

