- name: update rc files on all servers
  become: true
  hosts: vms
  tasks:
    - name: update .inputrc file from github (raw)
      get_url:
        url: https://raw.githubusercontent.com/ogjex/server-rc/refs/heads/main/.inputrc
        dest: ~/
        mode: '0644'
    - name: update .bash_profile file from github (raw)
      get_url:
        url: https://raw.githubusercontent.com/ogjex/server-rc/refs/heads/main/.bash_profile
        dest: ~/
        mode: '0644'
    - name: update .bashrc file from github (raw)
      get_url:
        url: https://raw.githubusercontent.com/ogjex/server-rc/refs/heads/main/.bashrc
        dest: ~/
        mode: '0644'
    - name: Copy .inputrc to truenas server
      copy:
        src: ~/.inputrc
        dest: ~/
        mode: '0644'
    - name: Transfer server rc files using scp
      raw: scp -o StrictHostKeyChecking=no ~/.inputrc user@{{ inventory_hostname }}:/remote/path/
      raw: scp -o StrictHostKeyChecking=no ~/.bash_profile user@{{ inventory_hostname }}:/remote/path/
      raw: scp -o StrictHostKeyChecking=no ~/.bashrc user@{{ inventory_hostname }}:/remote/path/
